<html>
    <head>
        <meta charset="utf-8">
        <title>Notebook</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="style.css" />
        <script src="node_modules/marked/marked.min.js"></script>
    </head>
    <body>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
        

        <div id="notebook">
            <!-- Sidebar -->
            <aside class="side-bar">
                <div class="toolbar">
                    <button @click="addNote" :title="addButtonTitle"><i class="material-icons">add</i> Add note</button>
                </div>
                <div class="notes">
                    <div class="note" v-for="note of notes">{{note.title}}</div>
                </div>
            </aside>
            <section class="main">
                <textarea v-model="content"></textarea>
            </section>
            <aside class="preview" v-html="notePreview">
                <!-- {{notePreview}} -->
            </aside>
        </div>
        <script src="script.js"></script>
        <!-- <script>
            const html = marked.parse('**Bold** *Italic* [link] (http://vue.js.org/)');
            console.log(html);
        </script> -->
    </body>
</html>